.form{
    position: relative;
    /* top: 20%; */
    border: 2px solid white;
    /* width: fit-content; */
    /* width: 100%; */
    max-width: 260px;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
}